{% extends "./Layouts/default.twig" %}

{% block body %}

<div class="ui container">

  <h2 class="ui center aligned icon header">
    <i class="circular ban icon"></i>
    Contester une sanction
  </h2>



  <div class="ui three top attached ordered steps">
    <div class="active step">
      <div class="content">
        <div class="title">Pseudo</div>
        <div class="description">Entrez votre pseudo</div>
      </div>
    </div>
    <div class="disabled step">
      <div class="content">
        <div class="title">Explications</div>
        <div class="description">Entrez une explication</div>
      </div>
    </div>
    <div class="disabled step">
      <div class="content">
        <div class="title">Confirmer</div>
        <div class="description">Confirmez avec votre mot de passe</div>
      </div>
    </div>
  </div>
  <div class="ui attached segment">

    <div class="ui form" id="findSanctions">
      <div id="ajax-message" style="margin-bottom:10px;"></div>
      <div class="field">
        <label>Pseudo</label>
        <input type="text" placeholder="Eywek">
      </div>
      <button type="submit" class="ui submit button">Valider</button>
    </div>

  </div>

</div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $('#findSanctions button[type="submit"]').on('click', function (e) {
      e.preventDefault()

      var btn = $(this)
      var input = $('#findSanctions').find('input')
      var formDiv = $('#findSanctions')

      formDiv.removeClass('success').removeClass('error')

      // handle loading
      formDiv.addClass('loading')

      // query
      $.post('{{router.getBase}}/contest/search', {user: input.val()}, function (data) {

        if (data.status) {
          displayAlert(true, 'Une sanction a bien été trouvée !')
          formDiv.addClass('success')
        } else {
          displayAlert(false, "Aucune sanction en cours (ban ou mute) n'a été trouvée !")
          formDiv.addClass('error')
        }

        enableForm(formDiv)
      }).fail(function (data) {

        switch (data.status) {
          case 501:
            displayAlert(false, 'Vous devez fournir un pseudo !')
            formDiv.addClass('error')
            break;
          case 404:
            displayAlert(false, "Votre pseudo n'a pas été trouvé dans notre base de données !")
            formDiv.addClass('error')
            break;
          default:
            displayAlert(false, 'Une erreur inconnue est survenue !')
            formDiv.addClass('error')

        }

        enableForm(formDiv)
      })
    })

    function displayAlert(type, msg) {
      var div = $('#ajax-message').hide()
      if (msg) {
        if (type)
          div.html('<div class="ui success message"><div class="header">Succès</div><p>' + msg + '</p></div>')
        else
          div.html('<div class="ui error message"><div class="header">Erreur</div><p>' + msg + '</p></div>')
        div.fadeIn(150)
      }
    }
    function enableForm(formDiv) {
      formDiv.removeClass('loading')
    }
  </script>
{% endblock %}
