{% extends "./Layouts/default.twig" %}

{% block body %}
  <div class="row">
    <div class="large-12 columns">

      <div class="callout large">
        <h5>This is a large callout</h5>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
        <a href="#">It's dangerous to go alone, take this.</a>
      </div>

    </div>
  </div>
{% endblock %}
