{% extends "./Layouts/default.twig" %}

{% block body %}
  <div class="ui container">

    <h2 class="ui center aligned icon header">
      <i class="circular bar chart icon"></i>
      Bientôt...
    </h2>
    <div class="ui divider"></div>

    <a href="{{router.getBase}}/contest" class="fluid ui primary button">Contester une sanction</a>

  </div>
{% endblock %}
