/* ======
*  GLOBAL
*/

body {
  background: #efefef;
}

/* ======
*  NAV
*/

header nav {
  margin-top: 20px;
  margin-bottom: 40px;
}

header nav .ui.menu .header.item img {
  width: 50px;
}

/* ======
*  FOOTER
*/
.footer.segment {
    padding: 5em 0em;
}
