{% extends "./Layouts/default.twig" %}

{% block body %}
<div class="ui container">
  <h2 class="ui center aligned icon header">
    <div class="content">
      <p style="font-size:150px;margin-bottom:0px;">404</p>
      Page introuvable
      <div class="sub header">La page que vous recherchez est introuvable ou a été déplacée.</div>
    </div>
  </h2>
</div>
{% endblock %}
