{% extends "./Layouts/default.twig" %}

{% block body %}
<div class="ui container">
  <h2 class="ui center aligned icon header">
    <div class="content">
      <p style="font-size:150px;margin-bottom:0px;">500</p>
      Erreur interne
      <div class="sub header">Une erreur interne est survenue pendant le chargement de la page.</div>
    </div>
  </h2>
</div>
{% endblock %}
